<div class="myBox1" >
    <div class="finance__cont">
    <div class="invoice__cont">
        <div class="social-menu">
            <ul>
                <li><a href="#" target="blank"><i class="fab fa-solid fa-file-invoice"></i></a></li>
            </ul>
        </div>
        <h2 class="click__hed1">Invoice details</h2>
        <button type="submit" [routerLink]="'/customer/invoiceDetial'" class="btn1">click here</button>
    </div>

            <div class="credit_cont">
                <div class="social-menu">
                    <ul>
                        <li><a href="#" target="blank"><i class="fab fa-solid fa-money-check-dollar"></i></a></li>
                    </ul>
                </div>
                <h2 class="click__hed2">Payment and aging</h2>
                <button type="submit" class="btn1" [routerLink]="'/customer/paymentaging'">click here</button>
            </div>
            
            <div class="payment__cont">
                <div class="social-menu">
                    <ul>
                        <li><a href="#" target="blank"><i class="fab fa-solid fa-envelope"></i></a></li>
                    </ul>
                </div>
        
                <h2 class="click__hed2">Credit/Debit memo</h2>
                <button type="submit" class="btn1" [routerLink]="'/customer/CDmemo'">click here</button>
            </div>
            
</div>
</div>    