<div class="cont-main" id="home">

 
    <!-- <img src="./assets/images/KaarLogo.jpg" class="kaar-footer" alt="" /> -->
  <h1 class="cont-title">Kaar Technologies</h1>
  <h1 class="cont-title2">Transform your business digitally</h1>
  <h1 class="cont-title2">With us!</h1>
  <h2 class="cont-title-sub">Trusted by thousand's of businesses worldwide</h2>

 

  <div class="p3-main" id="portal">
    <!-- <div class="p3-hed-cont">
							<h1>Already a Customer?
								<span class="p3-hed-span">
									login here</span>.</h1>
						</div> -->
    <div class="cont1">
      
      <div class="item2 shape">
        <!-- <img src="./images/5.png" class="item1-img" alt=""></img>
                  
								<Text class="text3 sub2" text="Quality Check"/>
								<Text class="text4" text="Click the below button to login"/>
								<Button text="Login" class="port-log-btn" press="onPress"/> -->

        <img src="/assets/images/custlogo.png" alt="" class="item1-img" />
        <h2 class="port-hed1">Customer Portal</h2>
        <button class="port-log-btn" [routerLink]="'/login'">Login</button>
      </div>
      <div class="item1 shape">
        <!-- <img src="./images/4.png" class="item1-img2" alt=""></img> -->
        <img src="/assets/images/vendorlogo.png" alt="" class="item1-img2" />
        <h2 class="port-hed2">Vendor Portal</h2>
        <button class="port-log-btn" [routerLink]="'/vlogin'">Login</button>
        <!--<h1 class="item-hed">Customer Portal</h1>-->
        <!--<p class="item-dec">click the below button to login.</p>-->
        <!-- <Text class="text5 sub1" text="Maintenance Portal"/>
								<Text class="text4" text="Click the below button to login"/>
								<Button text="Login" class="port-log-btn" press="onPress"/> -->
      </div>
      <div class="item3 shape">
        <!-- <img src="./images/6.png" class="item1-img" alt=""></img>
								<Text class="text3 sub3" text="Shop floor Portal"/>
								<Text class="text4" text="Click the below button to login"/>
								<Button text="Login" class="port-log-btn" press="onPress"/> -->
        <img src="/assets/images/employee.png" alt="" class="item1-img3" />
        <h2 class="port-hed3">Employee Portal</h2>
        <button class="port-log-btn" [routerLink]="'/elogin'">Login</button>
      </div>
    </div>
    <div class="p4-main" id="whysap">
      <div class="p4-hed-cont">
        <h1>
          Why should we
          <mark class="p4-highlight">
            <span class="p4-highlight-color"> use SAP </span>
          </mark>
          ?
        </h1>
      </div>

      <!-- Image animation Start -->

      <div class="myBox">
        <div class="container">
          <img src="/assets/images/aimage1.jpg" alt="Avatar" class="image" />
          <div class="overlay">
            <div class="text">User Friendly</div>
          </div>
        </div>
        <div class="container">
          <img src="/assets/images/aimage2.jpg" alt="Avatar" class="image" />
          <div class="overlay">
            <div class="text">Liable</div>
          </div>
        </div>
        <div class="container">
          <img src="/assets/images/aimage3.jpg" alt="Avatar" class="image" />
          <div class="overlay">
            <div class="text">Easy to Process</div>
          </div>
        </div>
        <div class="container">
          <img src="/assets/images/aimage4.jpg" alt="Avatar" class="image" />
          <div class="overlay">
            <div class="text">Accurate & Instant</div>
          </div>
        </div>
        
      </div>

      <div class="myBox">
        <div class="container">
          <img src="/assets/images/aimage5.jpg" alt="Avatar" class="image" />
          <div class="overlay">
            <div class="text">Affordable</div>
          </div>
        </div>
        <div class="container">
          <img src="/assets/images/aimage6.jpg" alt="Avatar" class="image" />
          <div class="overlay">
            <div class="text">Improve Quality</div>
          </div>
        </div>
        <div class="container">
          <img src="/assets/images/aimage7.jpg" alt="Avatar" class="image" />
          <div class="overlay">
            <div class="text">Support All Fields</div>
          </div>
        </div>
        <div class="container">
          <img src="/assets/images/aimage8.jpg" alt="Avatar" class="image" />
          <div class="overlay">
            <div class="text">Deployed Globally</div>
          </div>
        </div>
        
      </div>
    </div>

    <!-- Image animation END -->
    <!-- </div> -->

    <div class="p4-hed-cont" id="contact" >
      <h1>
        Want to Implement
        <mark class="p4-highlight">
          <span class="p4-highlight-color"> SAP ERP in you business </span>
        </mark>
        ?
      </h1>
      <h2>Get in Touch with us!</h2>
    </div>
    <div class="flex-main-cont">
      <div class="flex-left-cont">
        <div class="p4-mail">
          <div class="mail-img">
            <img
              src="/assets/images/p4-contimg1.png"
              class="p4-sm-img"
              alt=""
            />
          </div>
          <div class="mail-cont">
            <h2>sonardjay24.official@gmail.com</h2>
          </div>
        </div>
        <div class="p4-phone">
          <img src="/assets/images/p4-contimg2.png" class="p4-sm-img1" alt="" />
          <h2>+918482964983</h2>
        </div>
      </div>
      <div class="flex-Right-cont">
        <div class="p4-form-cont">
          <h1>Enter the details</h1>
          <form action="#">
            <label class="p4-lable" for="#">Full name</label>
            <!-- <text class="p4-lable" text="Full Name"></text> -->
            <input type="text" class="p4-input" placeholder="Type here" />
            <!-- <Input id="user" class="p4-input" placeholder="type here"></Input> -->
            <label class="p4-lable" for="#">Work mail Id</label>
            <!-- <text class="p4-lable" text="Work mail Id"></text> -->
            <input type="text" class="p4-input" placeholder="Type here" />
            <!-- <Input id="pass" class="p4-input" placeholder="type here"></Input> -->
            <label class="p4-lable" for="#">Message</label>
            <!-- <text class="p4-lable" text="Message"></text> -->
            <textarea
              placeholder="Enter your quries here"
              name="message"
              class="textarea-p4"
              id="message"
              rows="5"
            ></textarea>
            <!-- <Button text="Send us" class="p4-btn" press=""/> -->
            <button class="p4-btn">Send us</button>
          </form>
        </div>
      </div>
    </div>
    <footer class="fotter">
      <div class="nav-list">
        <!-- <Text class="fotter-header" text="Navigation"></Text>
                <Text class="fotter-item" text="Home"></Text>
                <Text class="fotter-item" text="Why SAP"></Text>
                <Text class="fotter-item" text="Portal Login"></Text>
                <Text class="fotter-item" text="Contact us"></Text> -->
        <h3 class="fotter-header">Navigation</h3>
        <a href="#home" class="fotter-item">Home</a>
        <a href="#whysap" class="fotter-item">Why SAP</a>
        <a href="#portal" class="fotter-item">Portal Login</a>
        <a href="#contact" class="fotter-item">Contact us</a>
        
      </div>
      <div class="portal-list">
        <!-- <Text class="fotter-header" text="Portal"></Text>
                <Text class="fotter-item" text="Customer Portal"></Text>
                <Text class="fotter-item" text="Vendor Portal"></Text>
                <Text class="fotter-item" text="Employee Portal"></Text>
                <Text class="fotter-item" text="Maintenance Portal"></Text>
                <Text class="fotter-item" text="Quality Portal"></Text>
                <Text class="fotter-item" text="Shop Floor Portal"></Text>
                <Text class="fotter-item" text="EHSM Portal"></Text> -->
        <h3 class="fotter-header">Portal</h3>
        <h3 class="fotter-item">Customer Portal</h3>
        <h3 class="fotter-item">Vendor Portal</h3>
        <h3 class="fotter-item">Employee Portal</h3>
      </div>
      <div class="contact-info">
        <!-- <Text class="fotter-header" text="Contact us"></Text>
                <Text class="fotter-header2" text="Phone Number"></Text>
                <Text class="fotter-item" text="9629660671"></Text>
                <Text class="fotter-header2" text="Mail"></Text>
                <Text class="fotter-item" text="balakumar062001@gmial.com"></Text> -->
        <h3 class="fotter-header">Contact us</h3>
        <h3 class="fotter-header2">Phone Number</h3>
        <h3 class="fotter-item">8482964083</h3>
        <h3 class="fotter-header2">Mail</h3>
        <h3 class="fotter-item">sonardjay24.official@gmail.com</h3>
      </div>
      <div class="hero">
        <!-- <Text class="fotter-header" text="Follow us!" ></Text> -->
        <h3 class="fotter-header">Follow us!</h3>
        <div class="kaar-footer">
          <!-- <a href="">
                  <i class="fab fa-facebook-f"></i>
                </a>
                <a href="">
                  <i class="fab fa-instagram"></i>
                </a>
                <a href="">
                  <i class="fab fa-twitter"></i>
                </a>
                <a href="">
                  <i class="fab fa-linkedin-in"></i>
                </a> -->
          <img src="./assets/images/KaarLogo.jpg" class="kaar-footer" alt="" />
        </div>
      </div>
    </footer>
  </div>
</div>
