    
.social-menu ul {
    padding: 0;
    margin: 0;
    display: flex;
    margin-left: 33%;
    margin-top: 1.8rem;
}

.social-menu ul li {
    list-style: none;
    margin: 0 2rem;
}

.social-menu ul li .fab,
.fa-square-share-nodes {
    font-size: 1.2rem;
    line-height: 2.2rem;
    transition: .3s;
    color: #000;
}

.social-menu ul li .fab:hover,
.fa-square-share-nodes:hover {
    color: #fff;
}

.social-menu ul li a {
    position: relative;
    display: block;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: .6s;
    box-shadow: 0 5px 4px rgba(0, 0, 0, .5);
}

.social-menu ul li a:hover {
    transform: translate(0, -10%);
}

.social-menu ul li:nth-child(1) a:hover {
    background-color: rgba(0, 0, 0, 0.829);
}

.social-menu ul li:nth-child(2) a:hover {
    background-color: #E4405F;
}

.social-menu ul li:nth-child(3) a:hover {
    background-color: #0077b5;
}

.social-menu ul li:nth-child(4) a:hover {
    background-color: #000;
}

.cont-socialmenu-heading {
    margin-left: 29%;
    margin-top: 1%;
    height: 3rem;
    width: 100%;
    display: flex;
}

.social-heading {
    color: white;
    font-size: .8rem;
}

.hed1 {
    margin-left: 2rem;
}

.hed2 {
    margin-left: 3.6rem;
}

.hed3 {
    margin-left: 3.4rem;
}

.hed4 {
    margin-left: 3.1rem;
}

.hed5 {
    margin-left: 4.4rem;
}

.cont-title{
    Text-align:center;
    
    font-weight:600;
    font-size: 3.5rem;
    color: white;
}
.cont-title1{
    Text-align:center;
    color: white;
    font-weight:600;
    font-size: 3.5rem;
    
}

.cont-title2{
    Text-align:center;
    color: white;
    font-weight:600;
    font-size: 2.5rem;
}
.cont-title-sub{
    margin-bottom: 3%;
    Text-align:center;
    color: white;
}

/* .lpmainimg {
    height: 20rem;
    width: auto;
    background-image: url('../images/landingpagemimg.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 35%;
    margin-top: -25%;
} */

.homebgimg{
    height: 20rem;
    width: 100%;
    
}
.cont-main {
    height: 15rem;
    width: 100%;
    /* background-color: #008060; */
    background-color: rgb(233, 117, 0);
}
.lpinp1 {
    margin-left: 30%;
    height: 2.8rem;
    width: 28%;
    border-radius: .3rem;
    border: none;
    font-weight: 600;
    
}
.lpinp1::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #6b7177;
    padding-left: 1rem;
}
.cont-socialmenu-heading {
    margin-left: 32.5%;
    margin-top: 1%;
    height: 3rem;
    width: 100%;
    display: flex;
}
.SM-p1 {
    font-size: 1.2rem !important;
    color: white !important;
    margin-left: 1.5rem;
}

.ic2 {
    margin-left: 2.7rem;
}

.ic3 {
    margin-left: 1.7rem;
}

.ic4 {
    margin-left: 1.7rem;
}

.ic5 {
    margin-left: 3.5rem;
}
.btn1 {
    height: 3rem !important;
    width: 10%;
    margin-left: .6rem !important ;
    background-color: black !important;
    border-radius: .3rem;
    color: white;
    border: none;
    transition: .6s;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 550;
    
}

.btn1:hover {
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.p2-main-content {
    display: flex;
}

.sub-heading {
    font-size: 2rem;
}

.p2-sec1 {
    height: 40rem;
    width: 40%;
    overflow: hidden;
}

.p2-main-img {
    height: 40rem;
    width: 100%;
    
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 12rem;
}

.p2-sec2 {
    height: 40rem;
    width: 60%;
}

.p2-sec2 {
    /* background: url('../images/p2mainimg21.png'); */
    background-size: 20rem 20rem;
    background-repeat: no-repeat;
    background-position: right bottom;
}

.p2-des {
    margin-top: 2rem;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    line-height: 1.3;
}

.p2-des-h2 {
    font-size: 2.6rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.p2-cont-list {
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2rem;
}

.des-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 1.5rem;
}

.highlight {
    /* background-color: #008060; */
    background-color: rgb(233, 117, 0);
    color: white;
}
.lpmainimg {
    height: 20rem;
    width: auto;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    top: 57%;
    left: 37%;
}
.p2-heading {
    height: 6rem;
    width: 100%;
}

.main-heading {
    padding-top: 1rem;
    font-size: 4rem !important;
    font-weight: 600 !important;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 2%;
    display: inline-block;
    overflow: hidden;
    transition: .6s;
    white-space: nowrap;
}



.p2-main-content {
    display: flex;
}
.p3-main {
    height: 30rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5rem
}

.cont1 {
	margin-top:7rem;
    height: 20rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    overflow: visible;
}

.cont1 {
    margin-bottom: 2rem;
}

.shape {
    height: 14rem;
    width: 15rem;
    background-color: white;
    overflow: visible;
    border-radius: .3rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.item-hed {
    text-align: center;
    margin-top: 1rem;
}

.item-dec {
    font-size: 1rem;
    margin-left: .9rem;
    margin-bottom: 1rem;
    margin-top: .5rem;
}

.item-hed2 {
    text-align: center;
    margin-top: -1.5rem;
}

.item-hed3 {
    text-align: center;
    margin-top: -1.5rem;
}

.item1-img {
    height: 9rem;
    width: auto;
    margin-top: -3.5rem;
    margin-left: 2.6rem;
    transition: .6s;
}
.item1-img3 {
    height: 9rem;
    width: auto;
    margin-top: -3.5rem;
    margin-left: 2.8rem;
    transition: .6s;
}
.item1-img:hover,
.item1-img1:hover,
.item1-img2:hover,
.item1-img3:hover {
    transform: scale(1.2);
}

.item1-img1 {
    height: 12rem;
    width: auto;
    margin-top: -5rem;
    margin-left: 1.5rem;
    transition: .6s;
}

.item1-img2 {
    height: 12rem;
    width: auto;
    margin-top: -5rem;
    margin-left: 1.5rem;
    transition: .6s;
}
.p2-sec2-img{
    height: 20rem;
    width: 20rem;
    margin-left: 37rem;
    margin-top: -12rem;
}
.port-login-btn {
    height: 2rem;
    width: 50%;
    margin-left: 3.5rem;
    background-color: black;
    color: white;
    border: none;
    transition: .6s;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 550;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.port-login-btn:hover,
.port-login-btn:focus {
    background-color: rgb(233, 117, 0);
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

@media only screen and (max-width: 600px) {
    .cont1,
    .cont2 {
        /*display: flex;*/
        /*flex-direction: column;*/
        /*gap: 5rem;*/
        /*height: 60rem;*/
        /*width: 100%;*/
        flex-flow: row wrap;
    width: unset;
    height: 500px;
    
    }
    .shape {
        
        margin-top:1rem;
    }
    .lpinp1::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #6b7177;
    font-size:1.2rem;
    padding-left: 1rem;
    }
   .p4-main h1{
   		margin-top:10rem;
   }
}


.p3-hed-cont {
    height: 6rem;
    width: 80%;
    margin-left: 3.5%;
    margin-top: 3rem;
}

.p3-hed-cont h1 {
    font-size: 3.5rem;
}

.p3-hed-span {
    font-size: 2rem;
    color: #008060;
    color: #008060;
}
.port-log-btn{
	height: 3rem !important;
    width: 7rem;
    margin-left:3.6rem !important;
    background-color: black !important;
    border-radius:.3rem;
    color: white;
    border: none;
    transition: .6s;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 550;
    
}
.port-log-btn:hover{
	
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.port-hed1{
    margin: 1rem 0rem 1rem 1.5rem;
}
.port-hed2{
    margin: -.5rem 0rem 1rem 2.5rem;
}
.port-hed3{
    margin: 1rem 0rem 1rem 1.5rem;
}
.p4-main {
    margin-top: 2rem;
    height: 40rem;
    width: 100%;
}

.p4-hed-cont {
    height: 6rem;
    width: 100%;
}

.p4-hed-cont h1 {
    font-size: 3rem;
    margin-top: 2rem;
    text-align: center;
}

.p4-hed-cont h2 {
    font-size: 2rem;
    text-align: center;
    margin-top: .5rem;
    /* color: #008060; */
    color: rgb(233, 117, 0);
}

.p4-highlight {
    /* background-color: #008060; */
    background-color: rgb(233, 117, 0);
}

.p4-highlight-color {
    color: white;
}

.flex-main-cont {
    height: 40rem;
    width: 100%;
    display: flex;
}

@media only screen and (max-width: 900px) {
    /*.flex-main-cont {*/
    /*    height: 80;*/
    /*    display: flex;*/
    /*    flex-direction: column;*/
    /*}*/
    /*.flex-left-cont,*/
    /*.flex-Right-cont {*/
    /*    width: 100%;*/
    /*}*/
}

.flex-left-cont {
    height: 30rem;
    width: 50%;
    margin-top: 2rem;
}

.flex-Right-cont {
    height: 35rem;
    width: 50%;
}

.flex-left-cont {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.p4-mail,
.p4-phone {
    height: 20rem;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.p4-phone h2 {
    font-size: 1.5rem;
    margin-left: 32%;
}

.mail-cont {
    height: 5rem;
    width: 80%;
}

.mail-img {
    height: 5rem;
    width: 20%;
}

.mail-cont h2 {
    margin-left: 25%;
    margin-top: 3rem;
    font-size: 1.5rem;
}

.p4-sm-img {
    height: 7rem;
    width: auto;
    margin-left: 180%;
    margin-top: 1rem;
}

.p4-sm-img1 {
    height: 7rem;
    width: auto;
    margin-left: 37%;
    margin-top: 2rem;
    margin-bottom: 1%;
}

.p4-lable {
    font-size: 1.3rem !important;
    display: block !important;
    margin-bottom: .5rem;
}

.p4-form-cont {
    height: 30rem;
    width: 80%;
    margin-top: 2rem;
    margin-left: 5rem;
    padding-left: 3rem;
    border-radius: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.p4-form-cont h1 {
    margin-bottom: 1rem;
    font-size: 2rem;
    padding-top: 3rem;
}

.p4-input {
    height: 2rem;
    width: 70% !important;
    margin: 0rem 0rem 1rem 0rem;
    border: none;
    background-color: aliceblue;
    border-radius: .3rem;
}

.p4-form-cont textarea {
    width: 70%;
    height: 5rem;
    display: block;
}

.p4-btn {
   height: 2.5rem !important;
    width: 7rem;
    margin-top:1rem  ;
    background-color: black !important;
    border-radius:.3rem;
    color: white;
    border: none;
    transition: .6s;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 550;
}

.textarea-p4::placeholder {
    color: black;
}

.p4-input::placeholder {
    color: black;
    font-size: .8rem;
    padding-left: .5rem;
}

.p4-btn:hover,
.p4-btn:focus {
    /* background-color: green; */
    background-color: rgb(233, 117, 0);
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.fotter {
    margin-top:3rem;
    height: 20rem;
    width: 100%;
    /* background-color: #008060; */
    background-color: rgb(233, 117, 0);
    display: flex;
    justify-content: space-around;
}


.nav-list,
.portal-list,.contact-info {
    border-right: 2px solid rgb(212, 221, 212);
    width: 20%;
    height:15rem;
    margin-top:2rem;
}


.fotter-header{
	font-size:2rem !important;
	color:white !important;
	margin-top:2rem;
	display:block !important;
}
.fotter-header2{
	font-size:1.5rem;
	color:white !important;
	margin-bottom:.5rem;
}
.fotter-item{
	display:block !important;
	color:white !important;
	font-size:1rem;
	margin-bottom:.5rem;
}

.sapMBtnInner.sapMBtnText{
	padding-left: 0 !important;
	padding-right: 0 !important;
	background-color:black;
	color:white;
	border:none !important;
}
.sapMBtnInner:hover{
	background-color:black !important;
	color:white !important;
	border:none !important;
}

.hero {
  width: 30%;
  height: 10rem;
  
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 3%;
}


.social-links {
	height:10rem;
	width:100%;
	margin-top:2%;
  display: flex;
  justify-content:center;
}

.social-links a {
  width:3rem;
  height: 3rem;
  text-align: center;
  text-decoration: none;
  color: #000;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.05);
  margin-left:1rem;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  transition: transform 0.5s;
  background-color:white;
}

.social-links a .fab {
  font-size: 1.5rem;
  line-height: 3rem;
  position: relative;
  z-index: 10;
  transition: color 0.5s;
}

.social-links a::after {
  content: '';
  width: 100%;
  height: 100%;
  top: -90px;
  left: 0;
  background: #000;
/*   background: linear-gradient(-45deg, #ed1c94, #ffec17); */
background-color: rgb(233, 117, 0);
  background:black;
  position: absolute;
  transition: 0.5s;
}

.social-links a:hover::after {
  top: 0;
}

.social-links a:hover .fab {
  color: #fff;
}

.social-links a:hover {
  transform: translateY(-10px);
}

.kaar-footer {
    height: 10rem;
    width: 10rem;
    margin-top: 10px;
    margin-left: 0rem;
    transition: .6s;
}

/* ANIMATION IMAGE BOXES */
.container {
    position: relative;
    width: 15%;
    margin-bottom: 3%;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(252, 138, 25);
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
  }
  
  .container:hover .overlay {
    width: 100%;
  }
  
  .text {
    white-space: nowrap; 
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  .myBox{
    margin-top:0rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    overflow: visible;
  }